img.produce_process{
    width: 90%
}


img.quality{
    width: 70%;
    padding-bottom:10%;
    padding-left: 16%;
    padding-top:5%;


}
h2.index_head{
    font-size: 36px !important;
}

div.contact_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content:space-between;
    justify-content: space-around;

}
.honor_container{
    width: 90%;
    /* height: 500px; */
    padding-top: 20px;
    z-index: 1000;
    /* overflow: hidden; */
}
.honor_item{
    padding: 5%;

}
.honor_text{
    font-size: 16px;
    color: grey
}


.honor_text:hover{
    color: black;
}


.contact_header_item {
    font-size: 16px;
    margin: 5%;
    padding-left:20%;
    display: flex;
    align-items: center;
}

.contact_header_item h2{
    margin-left: 20px;
}
img.contact_icon{
    width: 7%;
}
.contact_header {
    border-bottom: 1px solid #cccdcc;
    padding-bottom: 20px;
    margin: 20px auto;
    width: 90%;
}
.contact_header_left{
    width: 66%
}
.contact_header_right{

    border-left: 1px solid #1b4a6c;

    width: 34%
}
@media screen and (max-width:764px) {
    img.quality{
        width: 80%;

        margin: 5%;
        padding-bottom:10%;

        padding-left: 12%;
        cursor: pointer;
    }
    .contact_header {
        flex-direction: column;

    }
    .contact_header_item {
        font-size: 16px;
        margin: 5%;
        padding-left:5%;
        display: flex;
        align-items: center;
    }

    .contact_header_left{
        width: 100%
    }
    .contact_header_right{
        border-style: none;
        width: 100%;
        display: flex;
        justify-content: center;

    }
    .honor_item{
        padding: 5%;
        margin-left: 32%;
    }
    img.contact_icon{
        width: 7%;
    }

}
