
.city-intro{
    width:80%;
    margin-left:10%;
    margin-right: 10%;
    position: relative;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    background-color: azure;
}
.cc{
    background-color:white;
    margin: 1.5%;
    text-align:center;
    
}
p{
    width:Xpx;
}