<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<title>公司介绍</title>
		<!-- <link rel="stylesheet" href="http://www.hgcapsule.com/css/font-awesome.css"/>
		<link rel="stylesheet" href="/static/css/bootstrap.css" />
		<link rel="stylesheet" href="/static/css/css.css" />
		<link rel="stylesheet" href="/static/css/default.css" />
		<link rel="stylesheet" href="/static/css/swiper.min.css" />
		<link rel="stylesheet" href="/static/css/freestyle.css" />
		<link rel="stylesheet" href="/static/css/b_style.css" /> -->
		<link rel="stylesheet" href="/static/css/default.css" />
		<link rel="stylesheet" href="/static/css/swiper.min.css" />
		<link rel="stylesheet" href="/static/css/freestyle.css" />
		<link rel="stylesheet" href="/static/css/b_style.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/specialstyle.css">
		<link rel="stylesheet" type="text/css" href="/static/css/sepcialstyle2.css" media="only screen and (max-width: 1000px)">		
		<link href="/static/css/glassstyle.css" rel="stylesheet">
		<script type="text/javascript" src="/static/js/jQuery.js"></script>
		<script type="text/javascript" src="/static/js/jquery.SuperSlide.2.1.1.js" ></script>
		<script type="text/javascript" src="/static/js/style.js"></script>
	</head>
	<body>
			<!-- <div class="header hidden-xs" style="border-bottom: 0px solid rgb(204, 204, 204);">
					<div class="header_bg" style="opacity: 0.1;"></div>
					<div class="container ">
						<div class="header_con clearfix">
							<a href="index.html">
								<div class="logo"><img src="static/img/logo.png" width="100%"></div>
							</a>
							<div class="header_ri ">
								<ul class="clearfix">
			
									<li class="head_ab1"><a href=index.html>首页</a>
										<ul class="nav_child1 clearfix">
			
			
			
										</ul>
									</li>
									<li class="head_ab2"><a href="company_introduction.html">公司介绍</a>
			
									</li>
									<li class="head_ab3"><a href="product_introduction.html">产品介绍</a>
			
									</li>
									<li class="head_ab4"><a href="quality.html">品质监管</a>
			
									</li>
									<li class="head_ab5"><a href="production_process.html">生产流程</a>
			
									</li>
									<li class="head_ab5"><a href="contact_US.html">联系我们</a>
			
									</li>
			
								</ul>
							</div>
			
						</div>
			
					</div>
			</div> -->
			<div class="topWrap clearfix">
				<div class="top">
					<p>欢迎访问宏辉胶丸官方网站！</p>
					<div class="top_R">
						<a href="#"><img src="/static/img/top_tell.png">0575-86176888</a><span>|</span>
						<a href="#"><img src="/static/img/top_mell.png">honghui158@163.com</a>
					</div>
				</div>
			</div>
				<!--header-->
				<div id="showRight"></div>
				<div class="header">
					<a href="index.html" class="logo"><img src="/static/img/logo.png"></a>
					<ul>
						<li><a href="/index">首页 </a></li>
						<li><a href="/company_introduction">公司介绍</a></li>
						<li><a href="/product_introduction">产品介绍</a></li>
						<li><a href="/quality">品质监管</a></li>
						<li><a href="/production_process">生产流程</a></li>
						<li><a href="/contact_US">联系我们</a></li>
					</ul>
					<a href="javascript:;" class="menu"></a>
				</div>
				<div id="Nav">
					<ul>
						<li><a href="/index">首页 </a></li>
						<li><a href="/company_introduction">公司介绍</a></li>
						<li><a href="/product_introduction">产品介绍</a></li>
						<li><a href="/quality">品质监管</a></li>
						<li><a href="/production_process">生产流程</a></li>
						<li><a href="/contact_US">联系我们</a></li>
					</ul>
				</div>
		<div class="banner">
				<a href="#"><img src="/static/temp/company_banner.jpg"></a>
			</div>
			<!--case_内容-->
			<div class="company_introduction">
				<dl>
					<dt style="height:56px">
						<!-- <p>COMPANY  PROFILE</p>
						<span>公司概况<img src="/static/img/company_line.png"></span> -->
					</dt>
					<dd class="clearfix">

						<div class="company_L fl">
								<span style="font-size:24px;color:#013366;">企业简介</span>
								<hr class = "stick">
							<p class="p1">
								<p>浙江宏辉胶丸有限公司位于风景秀丽浙江东部 - 新昌县青山工业区内，104国道边，是依法取得药品生产许可证和注册证的生产企业， 是生产胃溶和肠溶药用空心胶囊的专业厂家。公司现有资产9800万元， 注册资金 1088.98万元,为“资信等级 AAA 级”企业，在绍兴市食品药品监督管理局空心胶囊生产企业等级评定中年年被评为AA 级企业（企业等级分为AA级，A级，B级，C级）。此外，2007 年我公司“宏燕”牌空心胶囊荣获“浙江省名牌产品”称号；2009年宏燕商标被评为“浙江省著名商标”。公司占地面积 18000 平方米，建筑面积19500平方米。生产车间严格按照GMP规范设计安装有中央空调、 空气净化系统，化级别达 10 万级，完全符合药用空心胶囊的生产要求。  
								</p>
								<br>
								<p>我公司主要生产 00-5 号药用空心胶囊，现有自动化生产线 19 条，年产量近 130 亿粒。 2012 年实现产值 18809.5 万元。我公司生产药用空心胶囊所用的原料，全部采用资质齐全的正规企业生产的骨明胶。其所供明胶按 2010 年版《中国药典》全检合格，且每批骨胶都须提供合格检验报告书。明胶到达我公司后，须由我公司质检部门检验合格后，才能投入生产。生产的成品批批全检合格后方可出厂，由于原料采购渠道正规，产品质量临控严格，所在在这次 “ 胶囊事件 ” 中，我公司产品在省 、 市药检所的质量抽检中，全部合格，铬含量全部在百万分之一以下。上级监管部门经过对我公司的原料采购 、 生产管理 、 质量控制 、 产品销售 、 软件管理等各方面进行严格的检查后，同意我公司为第一家恢复生产的企业，并于 4 月 24 日恢复正常生产。 
								</p>
								<br>

								<p>
									今后，我公司一如既往坚持 “ 质量是根，诚信是本 ” 的企业宗旨 。 抱着对人民的健康负责，视产品质量如生命的信念，保证自已生产的产品百分百合格，继续做好行业排头兵的作用，为社会和谐发展作出自已的贡献。
								</p>

							</p>
						</div>
						<div class="company_R">
							<img style="box-shadow:0 0 7px rgba(0,0,0,0.5)"src="/static/img/company_dev.png">
							<!-- <img src="/static/img/company_yy.png" class="yy"> -->
						</div>
					</dd>
					<dt class="second">
						<!-- <em>02</em>
						<p>COMPANY  DEVELOPMENT</p>
						<span>发展历史<img src="/static/img/company_line.png"></span> -->
					</dt>
					<dd class="clearfix second">
						<!-- <img src="/static/temp/company_banner.jpg" width="609px" height="297px> -->
						<div class="company_L fr">
							
							<span style="font-size:24px;color:#013366;float:right;padding-right:5%">发展历程
								<hr class = "stick" style="padding-right:5%">
							</span>
							<img class="test" style="left:100px;width:90%;padding-left:10%;padding-top:5%" src="/static/img/process.png">
							<!-- <p class="p1">还没写，这部分打算写发展历程，</p> -->
						</div>
						<div class="company_R company_Ra">
							<img style="box-shadow:0 0 7px rgba(0,0,0,0.5)"src="/static/img/company_01.png">
							
							<!-- <img src="/static/img/company_yy.png" class="yy yya"> -->
						</div>
					</dd>


										<dt class="second">
						<!-- <em>03</em>
						<p>QUALIFICATION  OF  TARGET</p>
						<span>资质目标<img src="/static/img/company_line.png"></span> -->
					</dt>
					<dd class="clearfix">
						<div class="company_L fl">
						<span style="font-size:24px;color:#013366;"> 企业荣誉
							</span>
							<hr class = "stick" style="max-width: 6rem;">


					    <div class="city-intro">
					        <div class="cc">
					          <div class="text">2009年浙江著名商标
					          <div class="overlay">
					            <img src="/static/img/1_1.png" alt="Avatar" class="img">

					          </div>

					          </div>

					          <div class="text">2007年文明单位

					          <div class="overlay">
					            <img src="/static/img/2_1.png" alt="Avatar" class="img">

					          </div>
					          </div>

					          <div class="text">2006年中小企业跨越奖


					          <div class="overlay">
					            <img src="/static/img/3_1.png" alt="Avatar" class="img">

					          </div>
					          </div>

					          <div class="text">2001年先进集体


					          <div class="overlay">
					            <img src="/static/img/4_1.png" alt="Avatar" class="img">

					          </div>
					          </div>

					          <div class="text">1999年信用AAA级


					          <div class="overlay">
					            <img src="/static/img/5_1.png" alt="Avatar" class="img">

					          </div>
					          </div>



					        </div>
					     <div class="cc">
					        <div class="text">2008年光彩事业
					         <div class="overlay">
					                  <img src="/static/img/1_2.png" alt="Avatar" class="img">
					    
					            </div>
					        </div>

					        <div class="text">2007年浙江名牌

					         <div class="overlay">
					                  <img src="/static/img/2_2.png" alt="Avatar" class="img">
					    
					            </div>
					        </div>

					        <div class="text">2005年中小企业跨越奖

					         <div class="overlay">
					                  <img src="/static/img/3_2.png" alt="Avatar" class="img">
					    
					            </div>
					        </div>

					        <div class="text">2000年先进企业

					         <div class="overlay">
					                  <img src="/static/img/4_2.png" alt="Avatar" class="img">
					    
					            </div>
					        </div>

					        <div class="text">1998年先进企业

					         <div class="overlay">
					                  <img src="/static/img/5_2.png" alt="Avatar" class="img">
					    
					            </div>
					        </div>


					        </div>


					    <div class="cc">
					        <div class="text">2007年中小企业跨越奖

					        <div class="overlay">
					            <img src="/static/img/1_3.png" alt="Avatar" class="img">
					    
					        </div>
					            </div>

					        <div class="text">2007年浙江名牌


					         <div class="overlay">
					                  <img src="/static/img/2_3.png" alt="Avatar" class="img">
					    
					            </div>
					        </div>

					        <div class="text">2001年跨越奖


					         <div class="overlay">
					                  <img src="/static/img/3_3.png" alt="Avatar" class="img">
					    
					            </div>
					        </div>

					        <div class="text">2000年信用AAA级


					         <div class="overlay">
					                  <img src="/static/img/4_3.png" alt="Avatar" class="img">
					    
					            </div>
					        </div>

					        <div class="text">2001年AAA级企业


					         <div class="overlay">
					                  <img src="/static/img/5_3.png" alt="Avatar" class="img">
					    
					            </div>
					        </div>

					    </div>
					    </div>

<!-- 							    <div class="city-intro">
							        <div class="cc">
							        <p style="text-align:center ; margin: 10px 0 10px 0;">2009年浙江著名商标</p>
							        <p style="text-align:center ;margin: 10px 0 10px 0;">2007年文明单位</p>
							        <p style="text-align:center ;margin: 10px 0 10px 0;">2001年先进集体</p>	
							        <p style="text-align:center ;margin: 10px 0 10px 0;">1999年信用AAA级</p>							    	

							    </div>
							     <div class="cc">
							        <p style="text-align:center ;margin: 10px 0 10px 0;">2008年光彩事业</p>
							        <p style="text-align:center ;margin: 10px 0 10px 0;">2007年浙江名牌</p>
							        <p style="text-align:center ;margin: 10px 0 10px 0;">2000年先进企业</p>	
							        <p style="text-align:center ;margin: 10px 0 10px 0;">1998年先进企业</p>							    	
							    </div>
							    <div class="cc">
							        <p style="text-align:center ;margin: 10px 0 10px 0;">2007年中小企业跨越奖</p>
							        <p style="text-align:center ;margin: 10px 0 10px 0;">2007年浙江名牌</p>
							        <p style="text-align:center ;margin: 10px 0 10px 0;">2000年信用AAA级</p>	
							        <p style="text-align:center ;margin: 10px 0 10px 0;">2001年AAA级企业</p>							    	

							    </div>
							    </div>
						</div> -->
						<div class="company_R">
							<img style="box-shadow:0 0 7px rgba(0,0,0,0.5)"src="/static/img/honor.png">
						</div>
					</dd>


					<dt class="second">
						<!-- <em>03</em>
						<p>QUALIFICATION  OF  TARGET</p>
						<span>资质目标<img src="/static/img/company_line.png"></span> -->
					</dt>
					<dd class="clearfix second">
						<div class="company_L fr">
							<span style="font-size:24px;color:#013366;float:right;padding-right:5%">企业文化
								<hr class = "stick" style="padding-right:5%">
							</span>

							<p class="p1">
								<p>
									宏辉胶丸公司非常重视企业文化，公司的最大特点是非常重视员工的感受，努力营造平等、自由、交流的环境和氛围。公司的企业文化的建设表现在以下几个方面：
								</p>
								<p>                         </p>
								<p style="margin: 5px">
									<b>	1、积极进取和自我学习精神</b>
								</p>

								<p>
										&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp作为一家药用胶丸公司，我们经常组织各类培训和学习，以实现自我提高和完善。公司每年都会聘请专业培训机构对公司员工进行专题培训，内容包括团队合作精神培训和专业技能等。
								</p>
								<br>
								<br>

								<p style="margin: 5px">
									<b>2、平等相处，鼓励创新</b>
								</p>
								<p>
										&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp大家平等相处，公司鼓励大家勇于尝试，鼓励创意，鼓励冒险，允许员工失败。公司内部行政职位上基本只有两级；在这里有年轻、开放、有经验的领导；这里有各种专业的人才而且竟然都是不论什么学历、证书的……所有员工都有机会运用自己的特长，将其发挥在自己的工作岗位上，在工作中获得成就感和满足感。

								</p>
								<br>
								<br>

								<p style="margin: 5px">
									<b>3、极力倡导畅所欲言的氛围</b>
								</p>

								<p>
										&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp内务区（OA）是最能体现公司文化的地方之一，任何员工都可以在上面发表任何意见，员工和高层之间没有任何阻隔，意见可以直接传达。公司的很多思想和理念就是在内务区的这种畅所欲言中诞生的。
								</p>
								<br>
								<br>

								<p style="margin: 5px">
									<b>4、经常组织各类社会活动</b>
								</p>
								<p>
										&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp宏辉胶丸作为中国药用胶丸一家著名公司，经常组织各类社会活动，以活动的形式进行了交流。宏辉胶丸还不定期的邀请业界人士作演讲、培训。

								</p>
								<br>
								<br>

								<p style="margin: 5px">
									<b>5、努力创造良好的工作环境</b>
								</p>
								<p>		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp为了保证员工的健康，改善公司员工的福利，公司在综合办公大楼附近配备了员工饭堂和宿舍，免除了员工每天在办公室吃盒饭的烦恼，也让住宿舍的员工免除了上班挤公共汽车的麻烦.
								</p>

							
						</div>
						<div class="company_R company_Ra">
							<img style="box-shadow:0 0 7px rgba(0,0,0,0.5)"src="/static/img/culture.png">
							<!-- <img src="/static/img/company_yy.png" class="yy yya"> -->
						</div>
					</dd>

				</dl>

			</div>

			<!--footer-->
			<div class="footerWrap">
				<p>版权所有@ 2017 浙江宏辉胶丸有限公司<a href="#" title="17sucai">Reserved</a>浙ICP备06014512号</p>
			</div>
		<script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="/static/js/lightzoom.js"></script>
		<script type="text/javascript">
		$(document).ready(function () {
			$('img.test').lightzoom({
				zoomPower   : 2.2,    //Default
				glassSize   : 180,  //Default
			});
		});
		</script>
	</body>

</html>
	
