<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<title>宏辉胶丸</title>
		<link rel="stylesheet" href="/static/css/default.css" />
		<link rel="stylesheet" href="/static/css/freestyle.css" />
		<link rel="stylesheet" href="/static/css/b_style.css" />
		<link rel="stylesheet" href="/static/css/otherstyle.css" />
		<link rel="stylesheet" href="static/css/uikit.css" />

		<script type="text/javascript" src="/static/js/jQuery.js"></script>
		<script type="text/javascript" src="/static/js/jquery.SuperSlide.2.1.1.js" ></script>
		<script type="text/javascript" src="/static/js/style.js"></script>
		<script src="//cdn.bootcss.com/uikit/2.25.0/js/uikit.js"></script>


	</head>
	<body>
		<div class="container">
			<!--top-->
			<div class="topWrap clearfix">
				<div class="top">
					<p>欢迎访问宏辉胶丸官方网站！</p>
					<div class="top_R">
						<a href="#"><img src="/static/img/top_tell.png">0575-86176888</a><span>|</span>
						<a href="#"><img src="/static/img/top_mell.png">honghui158@163.com</a>
					</div>
				</div>
			</div>
			<!--header-->
			<div id="showRight"></div>
			<div class="header">
				<a href="index.html" class="logo"><img src="/static/img/logo.png"></a>
				<ul>
					<li><a href="/index">首页 </a></li>
					<li><a href="/company_introduction">公司介绍</a></li>
					<li><a href="/product_introduction">产品介绍</a></li>
					<li><a href="/quality">品质监管</a></li>
					<li><a href="/production_process">生产流程</a></li>
					<li><a href="/contact_US">联系我们</a></li>
				</ul>
				<a href="javascript:;" class="menu"></a>
			</div>
			<div id="Nav">
				<ul>
					<li><a href="/index">首页 </a></li>
					<li><a href="/company_introduction">公司介绍</a></li>
					<li><a href="/product_introduction">产品介绍</a></li>
					<li><a href="/quality">品质监管</a></li>
					<li><a href="/production_process">生产流程</a></li>
					<li><a href="/contact_US">联系我们</a></li>
				</ul>
			</div>
			<!--banner-->
			<div class="banner">
				<a href="#"><img style = "width:100%" src="/static/temp/location2.png"></a>
				<!-- <div class="case_bawz">

				</div> -->
			</div>
			<!--case_内容-->
			<div class="case_introduction contact_Us">




				<div class="contact_header">
					<div class="contact_header_left">
						<div class="contact_header_item">
							<img class = "contact_icon" src="static/img/icon_email.png"><h2>Email : honghui158@163.com</h2>
						</div>
						<div class="contact_header_item">
							<img class = "contact_icon" src="static/img/icon_address.png"><h2>通讯地址 : <a class = "hover_undeline" href="https://www.amap.com/place/B023F02WQG">浙江省绍兴市新昌县大道东路788号</a></h2>

						</div>
						<div class="contact_header_item">
							<img class = "contact_icon" src="static/img/icon_phone.png"><h2>联系电话 : 0575-86176888 86176988 86176666<h2/>
						</div>
					</div>
					<div class="contact_header_right uk-width-large-1-3 uk-width-medium-1-3">
						<img style="width:50%;height:50%"src="/static/img/QRcode.jpg">

					</div>



				</div>



                <form action="/contact_US/" method="post" >

				<ol>
					<h2>填写信息</h2>
					<li>
						<input name="name" type="text" class="inputA" value="您的姓名" onmouseover=this.focus(); this.select();
		             onclick="if(value==defaultValue){value='';}" onBlur="if(!value){value=defaultValue;}">
					</li>
					<li>
						<input name="phone" type="text" class="inputA" value="您的电话" onmouseover=this.focus(); this.select();
		             onclick="if(value==defaultValue){value='';}" onBlur="if(!value){value=defaultValue;}">
					</li>
					<li>
						<input name="personal_info" type="text" class="inputA" value="您的职业或公司名称" onmouseover=this.focus(); this.select();
		             onclick="if(value==defaultValue){value='';}" onBlur="if(!value){value=defaultValue;}">
					</li>
					<li>
						<textarea name="message" type="text" class="textarea" value="您想咨询的具体信息" onmouseover=this.focus(); this.select();
		             onclick="if(value==defaultValue){value='';}" onBlur="if(!value){value=defaultValue;}">您想咨询的具体信息</textarea>
					</li>
					<input type="submit" class="submit" value="提交" />
				</ol>
				{% csrf_token %}

			</form>
        </div>

			<!--footer-->
			<div class="footerWrap">
				<p>版权所有@ 2017 浙江宏辉胶丸有限公司<a href="#" title="17sucai">Reserved</a>浙ICP备06014512号</p>
			</div>
		</div>
	</body>
</html>
