<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
        <title>Honghui Capsule</title>
		<!-- <link rel="stylesheet" href="http://www.hgcapsule.com/css/font-awesome.css"/> -->
		<link rel="stylesheet" href="/static/css/bootstrap.css" />
		<link rel="stylesheet" href="/static/css/css.css" />
		<link rel="stylesheet" href="/static/css/product_lists.css" />
		<link rel="stylesheet" href="/static/css/default.css" />
		<link rel="stylesheet" href="/static/css/otherstyle.css" />
		<link rel="stylesheet" href="/static/css/b_style.css" />


		<!-- <link rel="stylesheet" href="/static/css/swiper.min.css" /> -->
		<link rel="stylesheet" href="/static/css/freestyle.css" />
		<link rel="stylesheet" href="static/css/uikit.css" />
		<link rel="stylesheet" href="/static/css/dotnav.css" />

		<link rel="stylesheet" href="/static/css/b_style.css" />
		<script type="text/javascript" src="/static/js/jQuery.js"></script>
		<script type="text/javascript" src="/static/js/jquery.SuperSlide.2.1.1.js" ></script>
		<script type="text/javascript" src="/static/js/swiper.min.js" ></script>
		<script type="text/javascript" src="/static/js/style.js"></script>
		<script src="//cdn.bootcss.com/uikit/2.25.0/js/uikit.js"></script>

	</head>
	<body>
			<!-- 导航栏 -->
            <div class="topWrap clearfix">
    			<div class="top">
    				<p>Welcome to visit Honghui Capsule!</p>
    				<div class="top_R">
    					<a href="#"><img src="/static/img/top_tell.png">+86(0)57586176888</a><span>|</span>
    					<a href="#"><img src="/static/img/top_mell.png">honghui158@163.com</a>
    				</div>
    			</div>
    		</div>
    			<!--header-->
    			<div id="showRight"></div>
    			<div class="header">
    				<a href="/eng_page" class="logo"><img src="/static/img/logo.png"></a>
    				<ul>
    					<li><a href="/eng_page">Home</a></li>
    					<li><a href="/eng_aboutus">About Us</a></li>
    					<li><a href="/eng_pi">Products</a></li>
    					<li>
    						<div class="drop_menu" style="width:107px;height:60px">
    							<div class="hover-btn"><a href="/eng_pi">Producting</a></div>
    							<div class="drop-content">
    								<a href="/eng_qlti">Quality</a>
    								<a href="/eng_pp">Process</a>
    							</div>
    						</div>
    					</li>




    					<li><a href="/eng_cs">Contact Us</a></li>
    					<li>
    						<div class="drop_menu" style="width:107px;height:60px">
    							<div class="hover-btn"><a href="#">LANGUAGE</a></div>
    							<div class="drop-content">
    								<a href="/eng_page">ENGLISH</a>
    								<a href="/index">中文</a>
    							</div>
    						</div>

    					</li>




    				</ul>
    				<a href="javascript:;" class="menu"></a>
    			</div>
    			<div id="Nav">
    				<ul>
    					<li><a href="/eng_page">Home </a></li>
    					<li><a href="/eng_aboutus">About Us</a></li>
    					<li><a href="/eng_pi">Products</a></li>

    					<li class = "phone_nav"><a href="/eng_qlti">Quality</a></li>
    					<li class = "phone_nav"><a href="/eng_pp">Process</a></li>


    					<li><a href="/eng_cs">Contact Us</a></li>
    					<li><a href="/eng_index">中文</a></li>

    				</ul>
    			</div>
			<div class="banner">
				<a href="#"><img style="width:100%" src="/static/temp/company_banner1.jpg"></a>
				<div class="case_bawz">
					<!-- <h2>企业宗旨</h2>
					<p>ing...</p> -->
				</div>
			</div>

			<!--详细内容-->
			<div class="case_introduction">
					<div class="lists">
							<div class="container" id = "HPMC">
								<div class="require_title" style="top: 0px; opacity: 1;">
									<div class="require_tit">HPMC Hollow Capsul
									</div>
									<div class="require_text">羟丙甲纤维素空心胶囊</div>
								</div>
								<div class="row">
										<div class="col-sm-6">
											<div class="pro_inner_left allLeft" style="left: 0px; opacity: 1;">
												<div class="pro_in_img">
													<img src="/static/img/12.jpg" style="margin-bottom:5%">
												</div>

											</div>
										</div>
										<div class="col-sm-6">
											<div class="pro_inner_right inner_right1 allRight" style="right: 0px; opacity: 1;">
												<h2>HPMC Hollow Capsul</h2>

												<div class="inner_line">
												</div>
												<h4>The mainly raw material of vegetable capsules is 2-HPMC, which normally extracted from plants such as pure natural cotton, the main advantages are:</h4>
												<p>
													Available sizes:<span style="color:#005192;"><strong>00#, 0#, 1#, 2#, 3#</strong></span>
												</p>
												<p>
													The impurity residue is extremely low.
												</p>
												<p>
													The dry weight loss is controlled within 6%.
												</p>
												<p>
													The molecular structure is stable, low requirement for the moisture content.
												</p>
												<p>
													No side effects on humans.
												</p>
                                                <p>
                                                    New options for vegetarians and people of different faiths.
                                                </p>
											</div>
										</div>
								</div>
							</div>
					</div>


			</div>

			<!--footer-->
            <footer class="footerWrap">
				<div class="footer__copyright">
					<span>Copyright@2017 Zhejiang Honghui Capsule Co., Ltd.</span>
				</div>
				<div class="footer__copyright">
					<span>Zhejiang ICP Prepared No. 06014512</span>
				</div>
			</footer>
	</body>
</html>
