{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<title>Honghui Capsule</title>



		<link rel="stylesheet" href="{% static 'css/default.css' %}" />
		<link rel="stylesheet" href="{% static 'css/swiper.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/freestyle.css' %}" />
		<link rel="stylesheet" href="{% static 'css/b_style.css' %}" />
		<link rel="stylesheet" href="{% static 'css/uikit.css' %}" />
		<link rel="stylesheet" href="{% static 'css/otherstyle.css' %}" />

		<script type="text/javascript" src="{% static 'js/jQuery.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.SuperSlide.2.1.1.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/swiper.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/uikit.js' %}"></script>

		<script type="text/javascript" src="{% static 'js/style.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/lightbox.js' %}"></script>

	</head>
	<body>
			<div class="topWrap clearfix">
                <div class="top">
    				<p>Welcome to visit Honghui Capsule!</p>
    				<div class="top_R">
						<a href="#"><img src="{% static 'img/top_tell.png' %}">+86(0)57586176888</a><span>|</span>
						<a href="#"><img src="{% static 'img/top_mell.png' %}">honghui158@163.com</a>

    				</div>
    			</div>
				</div>
				<!--header-->
				<div id="showRight"></div>
				<div class="header">
					<a href="/eng_page" class="logo"><img src="{% static 'img/logo.png' %}"></a>
    				<ul>
    					<li><a href="/eng_page">Home</a></li>
    					<li><a href="/eng_aboutus">About Us</a></li>
    					<li><a href="/eng_pi">Products</a></li>
    					<li>
    						<div class="drop_menu" style="width:107px;height:60px">
    							<div class="hover-btn"><a href="#">Producting</a></div>
    							<div class="drop-content">
    								<a href="/eng_qlti">Quality</a>
    								<a href="/eng_pp">Process</a>
    							</div>
    						</div>
    					</li>

						<li><a style="font-size: 18px;padding-top: 13%;padding-bottom: 13%;line-height: 26px;" href="/eng_capstandards">Inspection Standard</a></li>


    					<li><a href="/eng_cs">Contact Us</a></li>
                        <li>
    						<div class="drop_menu" style="width:107px;height:60px">
    							<div class="hover-btn"><a href="#">LANGUAGE</a></div>
    							<div class="drop-content">
    								<a href="/eng_page">ENGLISH</a>
    								<a href="/index">中文</a>
    							</div>
    						</div>

    					</li>




    				</ul>
    				<a href="javascript:;" class="menu"></a>
    			</div>
    			<div id="Nav">
    				<ul>
    					<li><a href="/eng_page">Home</a></li>
    					<li><a href="/eng_aboutus">About Us</a></li>
    					<li><a href="/eng_pi">Products</a></li>

                        <li class = "phone_nav"><a href="/eng_qlti">Quality</a></li>
                        <li class = "phone_nav"><a href="/eng_pp">Process</a></li>
						<li><a href="/eng_capstandards">Inspection Standard</a></li>


    					<li><a href="/eng_cs">Contact Us</a></li>
    					<li><a href="/index">中文</a></li>

    				</ul>
    			</div>
			<div class="banner">
				<a href="#"><img style="width:100%" src="{% static 'temp/about_us1.png' %}"></a>
				<div class="case_bawz">
					<!-- <h2>企业宗旨</h2>
					<p>ing...</p> -->
				</div>
			</div>
			<!--case_内容-->
			<div class="case_introduction product_introduction">
				<h2 class="tit_h" >
                    <div class="float_title">
                        Quality Supervision
                    </div>

				</h2>

				<div class="uk-grid" style = "padding:5%; padding-bottom:4%;padding-top:2%">


					<div class="uk-width-large-1-2" >
						<a href="{% static 'img/high_q1.jpg' %}" data-uk-lightbox title="Rigorous Testing">
							<img class="quality" src="{% static 'img/q1.png' %}" alt="">

						</a>

					</div>

					<div class="uk-width-large-1-2" >


							<a href="{% static 'img/high_q2.jpg' %}" data-uk-lightbox title="Sol Room">
								<img class="quality" src="{% static 'img/q2.png' %}" alt="">

							</a>

					</div>

					<div class="uk-width-large-1-2" >

						<a href="{% static 'img/high_q3.jpg' %}" data-uk-lightbox title="Colour Matching Room">
							<img class="quality" src="{% static 'img/q3.png' %}" alt="">
						</a>

					</div>

					<div class="uk-width-large-1-2" >

						<a href="{% static 'img/high_q4.jpg' %}" data-uk-lightbox title="Production Workshop">
							<img class="quality" src="{% static 'img/q4.png' %}" alt="">
						</a>


					</div>

					<div class="uk-width-large-1-2" >
						<a href="{% static 'img/high_q5.jpg' %}" data-uk-lightbox title="Quality Supervision">
							<img class="quality" src="{% static 'img/q5.png' %}" alt="">
						</a>
					</div>

					<div class="uk-width-large-1-2" >
						<a href="{% static 'img/high_q6.jpg' %}" data-uk-lightbox title="Recording">
							<img class="quality" src="{% static 'img/q6.png' %}" alt="">
						</a>
					</div>

				</div>
            </div>




			<!--footer-->
            <footer class="footerWrap">
				<div class="footer__copyright">
					<span>Copyright@2017 Zhejiang Honghui Capsule Co., Ltd.</span>
				</div>
				<div class="footer__copyright">
					<span>Zhejiang ICP Prepared No.19047156</span>
				</div>
			</footer>
	</body>
</html>
