<div display:None></div>
<html lang="zh-CN">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>宏辉胶丸</title>
		<link rel="stylesheet" href="/static/css/default.css" />
		<!-- <link rel="stylesheet" href="/static/css/swiper.min.css" /> -->
		<link rel="stylesheet" href="/static/css/freestyle.css" />
		<!-- <link rel="stylesheet" href="/static/css/new.css" /> -->
		<link rel="stylesheet" type="text/css" href="/static/css/style_gundong.css" />
		<link rel="stylesheet" href="/static/css/b_style.css" />
		<!-- <script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script> -->
		<link rel="stylesheet" type="text/css" href="/static/css/specialstyle.css">
		<link rel="stylesheet" type="text/css" href="/static/css/Animate.css">

		<script src="ScrollWatch.js"></script>
		<script type="text/javascript" src="/static/js/jquery-1.3.1.js"></script>
		<script type="text/javascript" src="/static/js/jQuery.js"></script>
		<script type="text/javascript" src="/static/js/jquery.SuperSlide.2.1.1.js" ></script>
		<script type="text/javascript" src="/static/js/style.js"></script>
		<script src="/static/js/slider.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
		var sw = new ScrollWatch({
			onElementInView: function(data) {
				console.log(data.el, '...is now in view');
			}
			});
		</script>
		<style>
			.container_img {
			position: relative;
			/* width: 50%; */
		  }

		  .image {
			display: block;
			width: 100%;
			height: auto;
		  }

		  .overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			transition: .5s ease;
			background-color: #008CBA;
		  }

		  .container:hover .overlay {
			opacity: 1;
		  }

		  .text {
			color: white;
			font-size: 20px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
		  }
		</style>

	</head>
	<body>
		<div style="position:relative">

		<div class="container navbar-scrolled">
			<!--top-->
			<div class="topWrap clearfix">
				<div class="top">
					<p>欢迎访问浙江宏辉胶丸有限公司官方网站！</p>
					<div class="top_R">
						<a href="#"><img src="/static/img/top_tell.png">0575-86176888</a><span>|</span>
						<a href="#"><img src="/static/img/top_mell.png">honghui158@163.com</a>
					</div>
				</div>
			</div>
				<!--header-->
				<div id="showRight"></div>
				<div class="header">
					<a href="index.html" class="logo"><img src="/static/img/logo.png"></a>
					<ul>
						<li><a href="/index">首页 </a></li>
						<li><a href="/company_introduction">公司介绍</a></li>
						<li><a href="/product_introduction">产品介绍</a></li>
						<li><a href="/quality">品质监管</a></li>
						<li><a href="/production_process">生产流程</a></li>
						<li><a href="/contact_US">联系我们</a></li>
					</ul>
					<a href="javascript:;" class="menu"></a>
				</div>

				<div id="Nav">
					<ul>
						<li><a href="/index">首页 </a></li>
						<li><a href="/company_introduction">公司介绍</a></li>
						<li><a href="/product_introduction">产品介绍</a></li>
						<li><a href="/quality">品质监管</a></li>
						<li><a href="/production_process">生产流程</a></li>
						<li><a href="/contact_US">联系我们</a></li>
					</ul>
				</div>
			</div>
		</div>


			<!--banner-->
			<div class="banner">
				<div id="slideBox" class="slideBox slideBox_ban">
					<div class="bd">
						<ul>
							<li>
								<img src="/static/temp/back1.png" />
								<div class="wz">
									<h2>宏辉胶丸</h2>
									<p>质量是根，诚信是本</p>
									<img src="/static/img/banner_line.png" class="img">
									<a href="product_introduction.html">
										<input value="宏辉产品" type="button" class="button" />
									</a>
								</div>
							</li>
							<li>
								<img src="/static/temp/back2.png" />
								<div class="wz">
									<h2>宏辉胶丸</h2>
									<p>质量是公司能够永续经营的根本</p>
									<img src="/static/img/banner_line.png" class="img">

									<a href="product_introduction.html">
										<input value="宏辉产品" type="button" class="button" />
									</a>
								</div>

							</li>
							<li>
								<img src="/static/temp/back3.png" />
								<div class="wz">
									<h2>宏辉胶丸</h2>
									<p>诚信是通向你与我的基石</p>
									<img src="/static/img/banner_line.png" class="img">

									<a href="product_introduction.html">
										<input value="宏辉产品" type="button" class="button" />
									</a>
								</div>

							</li>
						</ul>
					</div>
					<a class="prev" href="javascript:void(0)"></a>
					<a class="next" href="javascript:void(0)"></a>
				</div>

			</div>

			<div class="title_T">
				<h2>宏辉产品</h2>
				<span>Products</span>
			</div>
			<div id="banner1">
					<!-- <div id="carousel">
						<div class="container_img">
							<img src="/static/img/1.png" data-url="product_detail1" class="image">
							<div class="overlay">
								<div class="text">
									胶囊1
								</div>
							</div>
						</div>
						<div class="container_img">
							<img src="/static/img/2.png" data-url="product_detail2" class="image">
							<div class="overlay">
								<div class="text">
									胶囊2
								</div>
							</div>
						</div>
						<div class="container_img">
							<img src="/static/img/3.png" data-url="product_detail3" class="image">
							<div class="overlay">
								<div class="text">
									胶囊3
								</div>
							</div>
						</div>
						<div class="container_img">
							<img src="/static/img/4.png" data-url="product_detail4" class="image">
							<div class="overlay">
								<div class="text">
									胶囊4
								</div>
							</div>
						</div>
				</div> -->
				<div id="carousel">
					<img src="/static/img/2.jpg" data-url="product_detail2">

					<img src="/static/img/1.jpg" data-url="product_detail1">
					<img src="/static/img/3.jpg" data-url="product_detail3">
					<img src="/static/img/4.jpg" data-url="product_detail4">
				</div>
			</div>




			<section data-scroll-watch  id="wan_banner">
				<div class="abouts">
					<div class="title_T">
						<h2>关于公司</h2>
						<span>ABOUT HONGHUI</span>
					</div>
					<div class="abouts_con clearfix">
						<div class="aboutcon">
							<a href="#" class="img"><img src="/static/img/index_back_11.jpg"></a>
							<div class="wz animated">
	<!-- 							<h2>GOOD SOFTWARE NEED<br />MORE TIMELY AND EFFICIENT SERVICE SUPPORT</h2>
	 -->							<h3>质量是根，诚信是本</h3>
								<p>浙江宏辉胶丸有限公司成立于1995年，是专业生产明胶和植物空心胶囊的厂家。公司占地20000多平方米，建筑面积达30000平方米，拥有注册资金1088.98万人民币。总资产2亿6百万人民币。拥有在职员工200名，主要生产00#—4#明胶空心胶囊、肠溶空心胶囊、羟丙甲纤维素胶囊及普鲁兰多糖胶囊，年生产力达280亿粒。</p>
								<p>
	公司已经通过ISO9001:2015、ISO22000:2005:2005及清真认证。在绍兴食品药品监督管理局的胶囊生产企业里，公司每年都被评为AA级（企业等级分为AA、A、B、C）。从2007年起，公司“宏燕”牌空心胶囊荣获“浙江省名牌产品”称号；2009年起“宏燕”商标被评为“浙江省著名商标”，在本行业内我公司是浙江省第一家拥有此两项荣誉的企业。公司于2015年获得国家高新技术企业证书。							</p>
							</div>
						</div>
						<a href="company_introduction.html" class="more_news">更多内容</a>
					</div>

				</div>
			</section>



			<!--footer-->
			<div class="footerWrap">
			<p>版权所有@ 2017 浙江宏辉胶丸有限公司<a href="#" title="17sucai">Reserved</a>浙ICP备06014512号</p>
		</div>
		</div>
	</body>
	<script>
		$(function() {
			$('#carousel').carousel({
				curDisplay: 0, //默认索引
				autoPlay: false, //是否自动播放
				interval: 3000 //间隔时间
			});
		});
	</script>
</html>
