<div display:None></div>
<html lang="zh-CN">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>首页</title>
		<link rel="stylesheet" href="/static/css/default.css" />
		<!-- <link rel="stylesheet" href="/static/css/swiper.min.css" /> -->
		<link rel="stylesheet" href="/static/css/freestyle.css" />
		<!-- <link rel="stylesheet" href="/static/css/new.css" /> -->
		<link rel="stylesheet" type="text/css" href="/static/css/style_gundong.css" />
		<link rel="stylesheet" href="/static/css/b_style.css" />
		
		<!-- <script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script> -->
		<script type="text/javascript" src="/static/js/jquery-1.3.1.js"></script>
		<script type="text/javascript" src="/static/js/jQuery.js"></script>
		<script type="text/javascript" src="/static/js/jquery.SuperSlide.2.1.1.js" ></script>
		<script type="text/javascript" src="/static/js/style.js"></script>
		<script src="/static/js/slider.js" type="text/javascript" charset="utf-8"></script>
		<style>
			.container_img {
			position: relative;
			/* width: 50%; */
		  }
		  
		  .image {
			display: block;
			width: 100%;
			height: auto;
		  }
		  
		  .overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			transition: .5s ease;
			background-color: #008CBA;
		  }
		  
		  .container:hover .overlay {
			opacity: 1;
		  }
		  
		  .text {
			color: white;
			font-size: 20px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
		  }
		</style>
		
	</head>
	<body>
		<div class="container">
			<!--top-->
			<div class="topWrap clearfix">
				<div class="top">
					<p>欢迎访问宏辉胶丸官方网站！</p>
					<div class="top_R">
						<a href="#"><img src="/static/img/top_tell.png">0575-86176888</a><span>|</span>
						<a href="#"><img src="/static/img/top_mell.png">honghui158@163.com</a>
					</div>
				</div>
			</div>
				<!--header-->
				<div id="showRight"></div>
				<div class="header">
					<a href="index.html" class="logo"><img src="/static/img/logo.png"></a>
					<ul>
						<li><a href="/index">首页 </a></li>
						<li><a href="/company_introduction">公司介绍</a></li>
						<li><a href="/product_introduction">产品介绍</a></li>
						<li><a href="/quality">品质监管</a></li>
						<li><a href="/production_process">生产流程</a></li>
						<li><a href="/contact_US">联系我们</a></li>
					</ul>
					<a href="javascript:;" class="menu"></a>
				</div>
				<div id="Nav">
					<ul>
						<li><a href="/index">首页 </a></li>
						<li><a href="/company_introduction">公司介绍</a></li>
						<li><a href="/product_introduction">产品介绍</a></li>
						<li><a href="/quality">品质监管</a></li>
						<li><a href="/production_process">生产流程</a></li>
						<li><a href="/contact_US">联系我们</a></li>
					</ul>
				</div>
			<!--banner-->
			<div class="banner">
				<div id="slideBox" class="slideBox slideBox_ban">
					<div class="bd">
						<ul>
							<li>
								<img src="/static/temp/back1.png" />
								<div class="wz">
									<h2>宏辉胶丸</h2>
									<p>质量是根，诚信是本</p>
									<img src="/static/img/banner_line.png" class="img">
									<a href="product_introduction.html">
										<input value="宏辉产品" type="button" class="button" />
									</a>
								</div>
							</li>
							<li>
								<img src="/static/temp/back2.png" />
								<div class="wz">
									<h2>宏辉胶丸</h2>
									<p>质量是公司能够永续经营的根本</p>
									<img src="/static/img/banner_line.png" class="img">

									<a href="product_introduction.html">
										<input value="宏辉产品" type="button" class="button" />
									</a>									
								</div>

							</li>
							<li>
								<img src="/static/temp/back3.png" />
								<div class="wz">
									<h2>宏辉胶丸</h2>
									<p>质量是公司能够永续经营的根本</p>
									<img src="/static/img/banner_line.png" class="img">

									<a href="product_introduction.html">
										<input value="宏辉产品" type="button" class="button" />
									</a>									
								</div>

							</li>
						</ul>
					</div>
					<a class="prev" href="javascript:void(0)"></a>
					<a class="next" href="javascript:void(0)"></a>
				</div>

			</div>

			<div class="title_T">
				<h2>宏辉产品</h2>
				<span>Products</span>
			</div>
			<div id="banner1">
					<!-- <div id="carousel">
						<div class="container_img">
							<img src="/static/img/1.png" data-url="product_detail1" class="image">
							<div class="overlay">
								<div class="text">
									胶囊1
								</div>
							</div>						
						</div>		
						<div class="container_img">
							<img src="/static/img/2.png" data-url="product_detail2" class="image">
							<div class="overlay">
								<div class="text">
									胶囊2
								</div>
							</div>						
						</div>		
						<div class="container_img">
							<img src="/static/img/3.png" data-url="product_detail3" class="image">
							<div class="overlay">
								<div class="text">
									胶囊3
								</div>
							</div>						
						</div>		
						<div class="container_img">
							<img src="/static/img/4.png" data-url="product_detail4" class="image">
							<div class="overlay">
								<div class="text">
									胶囊4
								</div>
							</div>						
						</div>		
				</div> -->
				<div id="carousel">
					<img src="/static/img/2.jpg" data-url="product_detail2">

					<img src="/static/img/1.jpg" data-url="product_detail1">
					<img src="/static/img/3.jpg" data-url="product_detail3">
					<img src="/static/img/4.jpg" data-url="product_detail4">
				</div>
			
			<div class="abouts">
				<div class="title_T">
					<h2>关于公司</h2>
					<span>ABOUT KANGSOFT</span>
				</div>
				<div class="abouts_con clearfix">
					<div class="aboutcon">
						<a href="#" class="img"><img src="/static/img/index_gsjj.png"></a>
						<div class="wz">
<!-- 							<h2>GOOD SOFTWARE NEED<br />MORE TIMELY AND EFFICIENT SERVICE SUPPORT</h2>
 -->							<h3>质量是根，诚信是本</h3>
							<p>浙江宏辉胶丸有限公司位于风景秀丽浙江东部 - 新昌县青山工业区内，104国道边，是依法取得药品生产许可证和注册证的生产企业， 是生产胃溶和肠溶药用空心胶囊的专业厂家。公司现有资产9800万元， 注册资金 1088.98万元,为“资信等级 AAA 级”企业，在绍兴市食品药品监督管理局空心胶囊生产企业等级评定中年年被评为AA 级企业（企业等级分为AA级，A级，B级，C级）。</p>
							<p>
此外，2007 年我公司“宏燕”牌空心胶囊荣获“浙江省名牌产品”称号；2009年宏燕商标被评为“浙江省著名商标”。公司占地面积 18000 平方米，建筑面积19500平方米。生产车间严格按照GMP规范设计安装有中央空调、 空气净化系统，化级别达 10 万级，完全符合药用空心胶囊的生产要求。
							</p>
						</div>
					</div>
					<a href="company_introduction.html" class="more_news">更多内容</a>
				</div>

			</div>
			<!--footer-->
			<div class="footerWrap">
			<p>版权所有@ 2017 浙江宏辉胶丸有限公司<a href="#" title="17sucai">Reserved</a>浙ICP备06014512号</p>
		</div>
		</div>
	</body>
	<script>
		$(function() {
			$('#carousel').carousel({
				curDisplay: 0, //默认索引
				autoPlay: false, //是否自动播放
				interval: 3000 //间隔时间
			});
		});
	</script>
</html>
