{% load staticfiles %}

<div display:None></div>
<html lang="zh-CN">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Honghui Capsule</title>
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
		<link rel="stylesheet" href="{% static 'css/default.css' %}" />
		<link rel="stylesheet" href="{% static 'css/swiper.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/product_lists.css' %}" />


		<link rel="stylesheet" href="{% static 'css/freestyle.css' %}" />
		<link rel="stylesheet" href="{% static 'css/b_style.css' %}" />
		<link rel="stylesheet" href="{% static 'css/uikit.css' %}" />
		<link rel="stylesheet" href="{% static 'css/slideshow.css' %}" />
		<link rel="stylesheet" href="{% static 'css/slidenav.css' %}" />
		<link rel="stylesheet" href="{% static 'css/dotnav.css' %}" />


		<link rel="stylesheet" href="{% static 'css/specialstyle.css' %}" />
		<link rel="stylesheet" href="{% static 'css/otherstyle.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style_gundong.css' %}" />
		<link rel="stylesheet" href="{% static 'css/slider.css' %}" />

		<script type="text/javascript" src="{% static 'js/jQuery.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.SuperSlide.2.1.1.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/swiper.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/style.js' %}"></script>
		<script src="//cdn.bootcss.com/uikit/2.25.0/js/uikit.js"></script>
		<script type="text/javascript" src="{% static 'js/lightbox.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/slider_desktop.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/slider.js' %}"></script>

		<script type="text/javascript" src="{% static 'js/slideshow.js' %}"></script>

	</head>
	<body>
		<div class="topWrap clearfix">
			<div class="top">
				<p>Welcome to visit Honghui Capsule!</p>
				<div class="top_R">
					<a href="#"><img src="{% static 'img/top_tell.png' %}">+86(0)57586176888</a><span>|</span>
					<a href="#"><img src="{% static 'img/top_mell.png' %}">honghui158@163.com</a>
				</div>
			</div>
		</div>
			<!--header-->
			<div id="showRight"></div>
			<div class="header">
				<a href="/eng_page" class="logo"><img src="/static/img/logo.png"></a>
				<ul>
					<li><a href="/eng_page">Home</a></li>
					<li><a href="/eng_aboutus">About Us</a></li>
					<li><a href="/eng_pi">Products</a></li>
					<li>
						<div class="drop_menu" style="width:107px;height:60px">
							<div class="hover-btn"><a href="#">Producting</a></div>
							<div class="drop-content">
								<a href="/eng_qlti">Quality</a>
								<a href="/eng_pp">Process</a>
							</div>
						</div>
					</li>

					<li><a style="font-size: 18px;padding-top: 13%;padding-bottom: 13%;line-height: 26px;" href="/eng_capstandards">Inspection Standard</a></li>




					<li><a href="/eng_cs">Contact Us</a></li>
					<li>
						<div class="drop_menu" style="width:107px;height:60px">
							<div class="hover-btn"><a href="#">LANGUAGE</a></div>
							<div class="drop-content">
								<a href="/eng_page">ENGLISH</a>
								<a href="/index">中文</a>
							</div>
						</div>

					</li>




				</ul>
				<a href="javascript:;" class="menu"></a>
			</div>
			<div id="Nav">
				<ul>
					<li><a href="/eng_page">Home</a></li>
					<li><a href="/eng_aboutuseng_pi">About Us</a></li>
					<li><a href="/eng_pi">Products</a></li>

					<li class = "phone_nav"><a href="/eng_qlti">Quality</a></li>
					<li class = "phone_nav"><a href="/eng_pp">Process</a></li>

					<li><a href="/eng_capstandards">Inspection Standard</a></li>

					<li><a href="/eng_cs">Contact Us</a></li>
					<li><a href="/index">中文</a></li>

				</ul>
			</div>
			<!--banner-->
			<div class="banner">
				<div id="slideBox" class="slideBox slideBox_ban">
					<div class="bd">
						<ul>
							<li>
								<img src="{% static 'temp/banner_en01.jpg' %}" />
								<div class="wz">

									<!-- <a href="product_introduction.html">
										<input value="宏辉产品" type="button" class="button" />
									</a> -->
								</div>
							</li>
							<li>
								<img src="{% static 'temp/banner_en02.jpg' %}" />
								<div class="wz">

									<!-- <img src="/static/img/banner_line.jpg" class="img"> -->

									<!-- <a href="product_introduction.html">
										<input value="宏辉产品" type="button" class="button" />
									</a> -->
								</div>

							</li>
							<li>
								<img src="{% static 'temp/banner_en03.jpg' %}" />
								<div class="wz">


									<!-- <a href="product_introduction.html">
										<input value="宏辉产品" type="button" class="button" />
									</a> -->
								</div>

							</li>
						</ul>
					</div>
					<a class="prev" href="javascript:void(0)"></a>
					<a class="next" href="javascript:void(0)"></a>
				</div>

			</div>

			<div class="title_T">
				<h2>Products</h2>
				<span>OUR PRODUCTS AND SERVERICE</span>
			</div>
			<div id="banner1" style="width: 100%;overflow:hidden;">

				<div id="carousel">
					<img src="{% static 'img/21_eng.png' %}" data-url="eng_pd1">

					<img src="{% static 'img/11_eng.png' %}" data-url="eng_pd1">
					<img src="{% static 'img/31_eng.png' %}" data-url="eng_pd1">
					<img src="{% static 'img/41_eng.png' %}" data-url="eng_pd1">
				</div>
			</div>

			<section id = "head_phone">
			</section>




			<!-- product_phone -->
			<section id = "product_phone">

				<div class="uk-slidenav-position" data-uk-slideshow = "{animation:'scroll'}">
		            <ul class="uk-slideshow">

		                <li><a href="eng_pd2"><img src="{% static 'img/21_eng.png' %}"></a></li>
						<li><a href="eng_pd1"><img src="{% static 'img/11_eng.png' %}"></a></li>
						<li><a href="eng_pd3"><img src="{% static 'img/31_eng.png' %}"></a></li>
						<li><a href="eng_pd4"><img src="{% static 'img/41_eng.png' %}"></a></li>
		            </ul>
		            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
		            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
		        </div>
			</section>


			<!-- company -->

			<section>
				<div class="abouts">
					<div class="title_T">
						<h2>Honghui</h2>
						<span>ABOUT HONGHUI CAPSULE</span>
					</div>
					<div class="abouts_con clearfix" id = "img_index">
						<div class="aboutcon">
							<div data-uk-scrollspy="{cls:'uk-animation-slide-bottom ',delay:600}"><a href="#" class="img"><img src="{% static 'img/index_back_12.jpg' %}"></a></div>
							<div data-uk-scrollspy="{cls:'uk-animation-slide-bottom', delay:700}" class="wz" id = "img_content">
	 							<h3>Quality First and Integrity Foremost.</h3>
								<p>Zhejiang Honghui Capsule Co., Ltd is a professional and comprehensive  Chinese manufacturer founded in 1995, with covering a total area of over 20000 square meters. The corporation specialises in producing gelatin capsules and vegetable capsules and its main products include size 00# - 4# gelatin hollow capsules, enteric coated hollow capsules, Hypromellose capsules and pullulan capsules. By now the annual capacity of production reaches 28 billion grains.</p>
								<p>The company has received numerous research results and many certificates such as ISO9001:2015, ISO22000:2005 and Halal certification. Moreover, Zhejiang Honghui Capsule Co., Ltd is rated as top grade AA enterprise every year by Shaoxing food and drug administration in hollow capsule production (Enterprises are classified into AA, A, B and C), AA is the highest classification). In 2007 the hollow capsule of Hong Yan brand awarded “Zhejiang Famous Brand product” and since 2009 Hong Yan was named as “Zhejiang Famous Trademark”. Zhejiang Honghui Capsule Co., Ltd is the first company that owns these two honours in capsules industry in Zhejiang Province. In 2015, the corporation obtained the honour National High Technological Enterprises.</p>
							</div>
						</div>
						<a href="/eng_aboutus" class="more_news">Learn More</a>
					</div>

				</div>
			</section>



			<!--footer-->
			<footer class="footerWrap">
				<div class="footer__copyright">
					<span>Copyright@2017 Zhejiang Honghui Capsule Co., Ltd.</span>
				</div>
				<div class="footer__copyright">
					<span>Zhejiang ICP Prepared No.19047156</span>
				</div>
			</footer>
	</body>
	<script>
		$(function() {
			$('#carousel').carousel({
				curDisplay: 0, //默认索引
				autoPlay: false, //是否自动播放
				interval: 3000 //间隔时间
			});
		});
	</script>
</html>
