<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<title>宏辉胶丸</title>
		<!-- <link rel="stylesheet" href="http://www.hgcapsule.com/css/font-awesome.css"/> -->
		<!-- <link rel="stylesheet" href="/static/css/bootstrap.css" /> -->
		<!-- <link rel="stylesheet" href="/static/css/css.css" /> -->
		<!-- <link rel="stylesheet" href="/static/css/default.css" /> -->
		<!-- <link rel="stylesheet" href="/static/css/swiper.min.css" /> -->
		<!-- <link rel="stylesheet" href="/static/css/freestyle.css" />
		<link rel="stylesheet" href="/static/css/b_style.css" /> -->
		<link rel="stylesheet" href="/static/css/default.css" />
		<link rel="stylesheet" href="/static/css/swiper.min.css" />
		<link rel="stylesheet" href="/static/css/freestyle.css" />
		<link rel="stylesheet" href="/static/css/b_style.css" />
		<script type="text/javascript" src="/static/js/jQuery.js"></script>
		<script type="text/javascript" src="/static/js/jquery.SuperSlide.2.1.1.js" ></script>
		<script type="text/javascript" src="/static/js/swiper.min.js" ></script>
		<script type="text/javascript" src="/static/js/style.js"></script>
	</head>
	<body>
			<div class="topWrap clearfix">
					<div class="top">
						<p>欢迎访问浙江宏辉胶丸有限公司官方网站！</p>
						<div class="top_R">
							<a href="#"><img src="/static/img/top_tell.png">0575-86176888</a><span>|</span>
							<a href="#"><img src="/static/img/top_mell.png">honghui158@163.com</a>
						</div>
					</div>
				</div>
				<!--header-->
				<div id="showRight"></div>
				<div class="header">
					<a href="index.html" class="logo"><img src="/static/img/logo.png"></a>
					<ul>
						<li><a href="/index">首页 </a></li>
						<li><a href="/company_introduction">公司介绍</a></li>
						<li><a href="/product_introduction">产品介绍</a></li>
						<li><a href="/quality">品质监管</a></li>
						<li><a href="/production_process">生产流程</a></li>
						<li><a href="/contact_US">联系我们</a></li>
					</ul>
					<a href="javascript:;" class="menu"></a>
				</div>
				<div id="Nav">
					<ul>
						<li><a href="/index">首页 </a></li>
						<li><a href="/company_introduction">公司介绍</a></li>
						<li><a href="/product_introduction">产品介绍</a></li>
						<li><a href="/quality">品质监管</a></li>
						<li><a href="/production_process">生产流程</a></li>
						<li><a href="/contact_US">联系我们</a></li>
					</ul>
				</div>

			<div class="banner">
				<a href="#"><img src="/static/temp/company_banner.jpg"></a>
				<div class="case_bawz">
					<!-- <h2>企业宗旨</h2>
					<p>ing...</p> -->
				</div>
			</div>

			<!--case_内容-->
			<div class="case_introduction product_introduction">
				<h2 class="tit_h">产品介绍
					<hr class = "stick" style="max-width: 6rem;">

				</h2>
				<ul>
					<li>
						<!-- <h3>胶囊1</h3> -->
						<a href="product_detail1.html">
							<img style="width:100%; height:100%;" src="/static/img/1.jpg">

							<!-- <span>查看详情</span> -->
						</a>
					</li>
					<li>
						<!-- <h3>胶囊2</h3> -->
						<a href="product_detail2.html">
							<img style="width:100%; height:100%;" src="/static/img/2.jpg">

							<!-- <span>查看详情</span> -->
						</a>

					</li>

					<li>
						<!-- <h3>胶囊3</h3> -->
						<a href="product_detail3.html">
							<img style="width:100%; height:100%;" src="/static/img/3.jpg">

							<!-- <span>查看详情</span> -->
						</a>
					</li>
					<li>
						<!-- <h3>胶囊4</h3> -->
						<a href="product_detail4.html">
							<img style="width:100%; height:100%;" src="/static/img/4.jpg">
							<!-- <span>查看详情</span> -->
						</a>
					</li>
				</ul>
			</div>

			<!--footer-->
			<div class="footerWrap">
				<p>版权所有@ 2017 浙江宏辉胶丸有限公司<a href="#" title="17sucai">Reserved</a>浙ICP备06014512号</p>
			</div>
	</body>
</html>
