{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Honghui Capsule</title>
		<link rel="stylesheet" href="{% static 'css/default.css' %}" />
		<link rel="stylesheet" href="{% static 'css/freestyle.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style_gundong.css' %}" />
		<link rel="stylesheet" href="{% static 'css/b_style.css' %}" />
		<link rel="stylesheet" href="{% static 'css/specialstyle.css' %}" />
		<link rel="stylesheet" href="{% static 'css/uikit.css' %}" />
		<link rel="stylesheet" href="{% static 'css/otherstyle.css' %}" />
		<link rel="stylesheet" href="{% static 'css/slider.css' %}" />
		<link rel="stylesheet" href="{% static 'css/slideshow.css' %}" />
		<!-- <link rel="stylesheet" href="{% static 'css/dotnav.css' %}" />
		<link rel="stylesheet" href="{% static 'css/slidenav.css' %}" /> -->
		<script type="text/javascript" src="{% static 'js/jQuery.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.SuperSlide.2.1.1.js' %}"></script>

		<script type="text/javascript" src="{% static 'js/style.js' %}"></script>


		<!-- <script src="{% static 'js/slider_desktop.js' %}" type="text/javascript" charset="utf-8"></script> -->
		<script src="//cdn.bootcss.com/uikit/2.25.0/js/uikit.js"></script>


	</head>
	<body>
			<div class="topWrap clearfix">
					<div class="top">
                        <p>Welcome to visit Honghui Capsule!</p>
						<div class="top_R">
							<a href="#"><img src="{% static 'img/top_tell.png' %}">+86(0)57586176888</a><span>|</span>
							<a href="#"><img src="{% static 'img/top_mell.png' %}">honghui158@163.com</a>
						</div>
					</div>
				</div>
				<!--header-->
				<div id="showRight"></div>

				<div class="header">
					<a href="/eng_page" class="logo"><img src="{% static 'img/logo.png' %}"></a>
    				<ul>
    					<li><a href="/eng_page">Home</a></li>
    					<li><a href="/eng_aboutus">About Us</a></li>

						<li><a href="/eng_pi">Products</a>
							<!-- <div class="drop_menu" style="width:107px;height:60px">
							    <div class="hover-btn"><a href="/product_introduction">Products</a></div>
							    <div class="drop-content">
							        <a href="#honghuiproducts" data-uk-smooth-scroll>Capsules</a>
							        <a href="#cap_print"  data-uk-smooth-scroll>Capsules printing</a>
							        <a href="#saveandtran" data-uk-smooth-scroll>Storage and Using</a>
							    </div>
							</div> -->
						</li>

    					<li>
    						<div class="drop_menu" style="width:107px;height:60px">
    							<div class="hover-btn"><a href="#">Producting</a></div>
    							<div class="drop-content">
    								<a href="/eng_qlti">Quality</a>
    								<a href="/eng_pp">Process</a>
    							</div>
    						</div>
    					</li>





    					<li><a href="/eng_cs">Contact Us</a></li>
                        <li>
    						<div class="drop_menu" style="width:107px;height:60px">
    							<div class="hover-btn"><a href="#">LANGUAGE</a></div>
    							<div class="drop-content">
    								<a href="/eng_page">ENGLISH</a>
    								<a href="/index">中文</a>
    							</div>
    						</div>

    					</li>




    				</ul>
    				<a href="javascript:;" class="menu"></a>
    			</div>
    			<div id="Nav">
    				<ul>
    					<li><a href="/eng_page">Home</a></li>
    					<li><a href="/eng_aboutus">About Us</a></li>
    					<li><a href="/eng_pi">Products</a></li>

                        <li class = "phone_nav"><a href="/eng_qlti">Quality</a></li>
                        <li class = "phone_nav"><a href="/eng_pp">Process</a></li>


    					<li><a href="/eng_cs">Contact Us</a></li>
    					<li><a href="/index">中文</a></li>

    				</ul>
    			</div>


			<div class="banner">
				<a href="#"><img style="width:100%"src="{% static 'temp/company_banner1.jpg' %}"></a>
				<div class="case_bawz">

				</div>
			</div>

			<!--case_内容-->
			<div class="case_introduction product_introduction" id= "honghuiproducts">
				<ul class="uk-subnav uk-subnav-line second_nav_product">
					<a href="#honghuiproducts" data-uk-smooth-scroll ><div class="second_nav_title">Capsule</div></a>
					<a href="#cap_print"  data-uk-smooth-scroll > <div class="second_nav_title">Capsule Printing</div></a>
					<a href="#saveandtran" data-uk-smooth-scroll ><div class="second_nav_title">Storage and Using</div></a>
				</ul>
				<div class="title_container" >
                    <div class="eng_tit_container" style="margin:0 20% 0 20%; text-align:center; font-size:24px;color:#15466a">
                        <h2 class="eng_tit">ABOUT PRODUCTS</h2>
                        <div class="border_tit" style = "margin:1% 40% 1% 40%; border-top:3px solid grey">

                        </div>
                    </div>

				</div>



                <div class="uk-grid" style = "padding:5%; padding-bottom:4%;padding-top:2%">
                    <div class="uk-width-large-1-4 uk-width-medium-1-2" >
                        <a href="/eng_pd1">
							<picture>

								<source media="(min-width:960px)" srcset="{% static 'img/13_eng.png' %}">
								<source media="(max-width:960px)" srcset="{% static 'img/11_eng.png' %}">

								<img class="enlarge"  src="{% static 'img/13_eng.png' %}">

							</picture>


							<!-- <span>查看详情</span> -->
						</a>
                    </div>

                    <div class="uk-width-large-1-4 uk-width-medium-1-2">
                        <a href="/eng_pd2">
							<picture>

								<source media="(min-width:960px)" srcset="{% static 'img/23_eng.png' %}">
								<source media="(max-width:960px)" srcset="{% static 'img/21_eng.png' %}">

								<img class="enlarge"  src="{% static 'img/23_eng.png' %}">

							</picture>

							<!-- <span>查看详情</span> -->
						</a>
                    </div>

                    <div class="uk-width-large-1-4 uk-width-medium-1-2">
                        <a href="/eng_pd3">
							<picture>

								<source media="(min-width:960px)" srcset="{% static 'img/33_eng.png' %}">
								<source media="(max-width:960px)" srcset="{% static 'img/31_eng.png' %}">

								<img class="enlarge"  src="{% static 'img/33_eng.png' %}">

							</picture>


							<!-- <span>查看详情</span> -->
						</a>
                    </div>

                    <div class="uk-width-large-1-4 uk-width-medium-1-2">
                        <!-- <h3>胶囊4</h3> -->
						<a href="/eng_pd4">
							<picture>

								<source media="(min-width:960px)" srcset="{% static 'img/43_eng.png' %}">
								<source media="(max-width:960px)" srcset="{% static 'img/41_eng.png' %}">

								<img class="enlarge"  src="{% static 'img/43_eng.png' %}">

							</picture>
						</a>
                    </div>



                </div>

			</div>
			<section id = "cap_print" style="background:#e0e1e1; height:auto;width:100%" data-uk-scrollspy="{cls:'uk-animation-fade', delay:600}">
				<div class="title_container print_cap_phonetitle">
                    <div class="eng_tit_container">
                        <h2 class="eng_tit">Capsule Printing Technology</h2>
                        <div class="border_tit">

                        </div>
                    </div>

				</div>
				<div class="print_container">
				    <div class="print_left">
						<div class="tit_frame">
							<img src="{% static 'temp/print_tit.png' %}" alt="">
						</div>
					</div>



				    <div class="print_right">
						<div class="print_cap_intro">
							<p class="chinese">胶囊印字技术是采用先进的印字设备和卡乐康公司的油墨或获国家认证的药用油墨在胶囊表面进行印刷。根据客户要求可以提供轴环向、定向和双色印字。外表美观，字体和图案清晰可使您的产品形象更突出，增加产品竞争力，提供企业品牌效应。</p>

							<p class="eng">
								Capsule printing is the use of advanced printing equipment and Colorcon printing ink or awarded national certification in medicinal capsule surface printing ink. According to customers’ requirements, we can provide circumferential printing, axial printing, specified radial printing and double colour spots printing service, which makes your products’ appearance and font be more well-designed. Meanwhile, it also increases the competitiveness of your products and enhance brand effects.
							</p>

							<div class="print_cap_frame">
								<a href="{% static 'temp/print_cap.png' %}" data-uk-lightbox title="Capsule Printing Technology">
									<img src="{% static 'temp/print_cap.png' %}" alt="">
								</a>

							</div>
						</div>

					</div>

				</div>


			</section>


			<section id= "saveandtran" style="background:white; height:auto;width:100%" data-uk-scrollspy="{cls:'uk-animation-fade', delay:600}">
				<div class="title_container" >

                    <div class="eng_tit_container">
                        <h2 class="eng_tit">Storage and Using of Capsules</h2>
                        <div class="border_tit">

                        </div>
                    </div>

				</div>

				    <div class="save_container">
						<div class="save_left">
							<div class="save_using_intro">
								<p class="eng">-存放胶囊的塑料袋需扎紧</p>
								<p class="eng">-避免阳光直射, 远离热源和水源</p>
								<p class="eng">-胶囊应存放在温度10°C-25°C, 相对湿度35% - 65%的室内</p>
								<p class="eng">-胶囊箱与墙和地面保持一定距离, 以便利于空气流通保持干燥</p>
								<p class="eng">-如果仓库与胶囊充填的机房温湿度相差较大, 则应将胶囊放在与填充条件相近的地方约半天后开箱使用</p>
								<p class="eng">-轻舀、轻放胶囊，防止造成胶囊瘪壳、单节和锁合等因胶囊处置不当造成的填充缺陷</p>
								<p class="chinese">-请勿使用经手触摸过的胶囊</p>
							</div>
						</div>

						<div class="save_right">
							<div class="save_using_intro_right">

								<p>-Tighten up the plastic bags with capsules inside</p>
								<p>-Avoid direct sunshine, keep away from heat generation and water sources</p>
								<p>-Capsules should be stored in the room with the temperature between 10°C and 25°C, and the relative humidity of 35%~65%</p>
								<p>-Capsule cartons should be kept away from walls and a certain distance from the floor to avoid moisture</p>
								<p>-Capsule cartons should be stored in the place where there is the similar condition with filling room at least half-day before they can be open for filling, in case there are large differences of temperature and humidity between warehouse and filling room</p>
								<p>-Scoop out and put down capsules gently to prevent defects of mashes, loose pieces and snap-fit closed etc. to be caused by the improper handling of the capsules</p>

								<p>-Do not use capsules which are touched by hands</p>
							</div>


						</div>

					</div>

			</section>
			<!--footer-->
            <footer class="footerWrap">
				<div class="footer__copyright">
					<span>Copyright@2017 Zhejiang Honghui Capsule Co., Ltd.</span>
				</div>
				<div class="footer__copyright">
					<span>Zhejiang ICP Prepared No. 06014512</span>
				</div>
			</footer>
	</body>
</html>
