<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<title>宏辉胶丸</title>
		<!-- <link rel="stylesheet" href="http://www.hgcapsule.com/css/font-awesome.css"/> -->
		<link rel="stylesheet" href="/static/css/bootstrap.css" />
		<link rel="stylesheet" href="/static/css/css.css" />
		<link rel="stylesheet" href="/static/css/product_lists.css" />
		<link rel="stylesheet" href="/static/css/default.css" />
		<!-- <link rel="stylesheet" href="/static/css/swiper.min.css" /> -->
		<link rel="stylesheet" href="/static/css/freestyle.css" />
		<link rel="stylesheet" href="/static/css/b_style.css" />
		<script type="text/javascript" src="/static/js/jQuery.js"></script>
		<script type="text/javascript" src="/static/js/jquery.SuperSlide.2.1.1.js" ></script>
		<script type="text/javascript" src="/static/js/swiper.min.js" ></script>
		<script type="text/javascript" src="/static/js/style.js"></script>
	</head>
	<body>
			<!-- 导航栏 -->
			<div class="topWrap clearfix">
					<div class="top">
						<p>欢迎访问宏辉胶丸官方网站！</p>
						<div class="top_R">
							<a href="#"><img src="/static/img/top_tell.png">0575-86176888</a><span>|</span>
							<a href="#"><img src="/static/img/top_mell.png">honghui158@163.com</a>
						</div>
					</div>
				</div>
				<!--header-->
				<div id="showRight"></div>
				<div class="header">
					<a href="index.html" class="logo"><img src="/static/img/logo.png"></a>
					<ul>
						<li><a href="/index">首页 </a></li>
						<li><a href="/company_introduction">公司介绍</a></li>
						<li><a href="/product_introduction">产品介绍</a></li>
						<li><a href="/quality">品质监管</a></li>
						<li><a href="/production_process">生产流程</a></li>
						<li><a href="/contact_US">联系我们</a></li>
					</ul>
					<a href="javascript:;" class="menu"></a>
				</div>
				<div id="Nav">
					<ul>
						<li><a href="/index">首页 </a></li>
						<li><a href="/company_introduction">公司介绍</a></li>
						<li><a href="/product_introduction">产品介绍</a></li>
						<li><a href="/quality">品质监管</a></li>
						<li><a href="/production_process">生产流程</a></li>
						<li><a href="/contact_US">联系我们</a></li>
					</ul>
				</div>
			<!-- 过渡栏 -->
			<div class="banner">
				<a href="#"><img style="width:100%" src="/static/temp/company_banner1.jpg"></a>
				<div class="case_bawz">
					<!-- <h2>企业宗旨</h2>
					<p>ing...</p> -->
				</div>
			</div>

			<!--详细内容-->
			<div class="case_introduction product_introduction">
					<div class="lists">
							<div class="container">
								<div class="require_title" style="top: 0px; opacity: 1;">
									<div class="require_tit">普鲁兰多糖胶囊</div>
									<div class="require_text">Pullulan Capsule</div>
								</div>
								<div class="row">
										<div class="col-sm-6">
											<div class="pro_inner_left allLeft" style="left: 0px; opacity: 1;">
												<div class="pro_in_img">
													<img src="/static/img/22.jpg" width="100%">
												</div>

											</div>
										</div>
										<div class="col-sm-6">
											<div class="pro_inner_right inner_right1 allRight" style="right: 0px; opacity: 1;">
												<h2>普鲁兰多糖胶囊</h2>
												<div class="inner_line"></div>

												<h4>普鲁兰多糖空心胶囊呈圆筒状，是由帽和体两节套合的质硬且具有弹性的空囊，
具有不同的锁合结构。其主要优点包括：</h4>
												<p>
						可提供型号:<span style="color:#005192;"><strong>00#，0#，1#，2#，3#
</strong></span>
					</p>
					<p>
						外观形状晶莹剔透，有利于提高产品档次
					</p>
					<p>
						含水量与透氧性极低，可保护内容物免于氧化而便于储存
					</p>
					<p>
						普鲁兰多糖胶囊具备适用性广，无交联反应风险和稳定性高为温差大，
					</p>
					<p1>
							&nbsp;&nbsp;交通运输和零售终端储存条件不易的状况提供了解决方案
						</p1>
					<p>
						不含动物组织成分，素食主义和不同宗教信仰人群的选择对象之一
					</p>
											</div>
										</div>
								</div>


							</div>
						</div>
			</div>

			<!--footer-->
			<footer class="footerWrap">
				<div class="footer__copyright">
					<span>版权所有@ 2017 浙江宏辉胶丸有限公司</span>
				</div>
				<div class="footer__copyright">
					<span>浙ICP备06014512号</span>
				</div>
			</footer>
	</body>
</html>
