<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<title>宏辉胶丸</title>
		<!-- <link rel="stylesheet" href="http://www.hgcapsule.com/css/font-awesome.css"/> -->
		<link rel="stylesheet" href="/static/css/bootstrap.css" />
		<link rel="stylesheet" href="/static/css/css.css" />
		<link rel="stylesheet" href="/static/css/product_lists.css" />
		<link rel="stylesheet" href="/static/css/default.css" />
		<!-- <link rel="stylesheet" href="/static/css/swiper.min.css" /> -->
		<link rel="stylesheet" href="/static/css/freestyle.css" />
		<link rel="stylesheet" href="/static/css/b_style.css" />
		<script type="text/javascript" src="/static/js/jQuery.js"></script>
		<script type="text/javascript" src="/static/js/jquery.SuperSlide.2.1.1.js" ></script>
		<script type="text/javascript" src="/static/js/swiper.min.js" ></script>
		<script type="text/javascript" src="/static/js/style.js"></script>
	</head>
	<body>
			<!-- 导航栏 -->
			<div class="topWrap clearfix">
					<div class="top">
						<p>欢迎访问宏辉胶丸官方网站！</p>
						<div class="top_R">
							<a href="#"><img src="/static/img/top_tell.png">0575-86176888</a><span>|</span>
							<a href="#"><img src="/static/img/top_mell.png">honghui158@163.com</a>
						</div>
					</div>
				</div>
				<!--header-->
				<div id="showRight"></div>
				<div class="header">
					<a href="index.html" class="logo"><img src="/static/img/logo.png"></a>
					<ul>
						<li><a href="/index">首页 </a></li>
						<li><a href="/company_introduction">公司介绍</a></li>
						<li><a href="/product_introduction">产品介绍</a></li>
						<li><a href="/quality">品质监管</a></li>
						<li><a href="/production_process">生产流程</a></li>
						<li><a href="/contact_US">联系我们</a></li>
					</ul>
					<a href="javascript:;" class="menu"></a>
				</div>
				<div id="Nav">
					<ul>
						<li><a href="/index">首页 </a></li>
						<li><a href="/company_introduction">公司介绍</a></li>
						<li><a href="/product_introduction">产品介绍</a></li>
						<li><a href="/quality">品质监管</a></li>
						<li><a href="/production_process">生产流程</a></li>
						<li><a href="/contact_US">联系我们</a></li>
					</ul>
				</div>
			<div class="banner">
				<a href="#"><img src="/static/temp/company_banner.jpg"></a>
				<div class="case_bawz">
					<!-- <h2>企业宗旨</h2>
					<p>ing...</p> -->
				</div>
			</div>

			<!--详细内容-->
			<div class="case_introduction">
					<div class="lists">
							<div class="container">
								<div class="require_title" style="top: 0px; opacity: 1;">
									<div class="require_tit">羟丙甲纤维素空心胶囊
</div>
									<div class="require_text">HPMC Hollow Capsule</div>
								</div>
								<div class="row">
										<div class="col-sm-6">
											<div class="pro_inner_left allLeft" style="left: 0px; opacity: 1;">
												<div class="pro_in_img">
													<img src="/static/img/11.jpg" width="100%">
												</div>

											</div>
										</div>
										<div class="col-sm-6">
											<div class="pro_inner_right inner_right1 allRight" style="right: 0px; opacity: 1;">
												<h2>羟丙甲纤维素空心胶囊</h2>
												<div class="inner_line"></div>

												<h4>羟丙甲纤维素空心胶囊主要成分是2-羟丙甲纤维素，通常由植物水解制得的纤维素，经醚化制成。其主要优点包括：</h4>
												<p>
						可提供型号:<span style="color:#005192;"><strong>00#，0#，1#，2#，3#
</strong></span>
					</p>
					<p>
						杂质残留极低，干燥失重可控制在6%以内
					</p>
					<p>
						分子结构稳定对填充物的水分要求低
					</p>
					<p>
						填充较强湿性的药物时可避免胶囊破裂，使填充物更安全，溶出更彻底
					</p>
					<p>
						HPMC对人体无任何副作用，是对于素食主义和不同宗教主义人群提供
					</p>
					<p1>
						&nbsp;&nbsp;一个极佳的新选择
					</p1>
											</div>
										</div>
								</div>


							</div>
						</div>
			</div>

			<!--footer-->
			<div class="footerWrap">
				<p>版权所有@ 2017 浙江宏辉胶丸有限公司<a href="#" title="17sucai">Reserved</a>浙ICP备06014512号</p>
			</div>
	</body>
</html>
