<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="static/css/uikit.css" />
        <link rel="stylesheet" href="static/css/slider.css" />
        <link rel="stylesheet" href="static/css/slideshow.css" />
        <link rel="stylesheet" href="static/css/dotnav.css" />
        <link rel="stylesheet" href="static/css/slidenav.css" />

        <meta charset="utf-8">
        <script type="text/javascript" src="/static/js/jQuery.js"></script>

        <script src="//cdn.bootcss.com/uikit/2.25.0/js/uikit.js"></script>
        <script src="/static/js/slider.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/slideshow.js" type="text/javascript" charset="utf-8"></script>

        <title></title>
    </head>
    <body>
        <div class="uk-slidenav-position" data-uk-slideshow = "{animation:'scroll'}">
            <ul class="uk-slideshow">
                <li><img src="/static/img/21.jpg"></li>
                <li><img src="/static/img/11.jpg"></li>
                <li><img src="/static/img/31.jpg"></li>
                <li><img src="/static/img/41.jpg"></li>
            </ul>
            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
            <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-text-center">
                <li data-uk-slideshow-item="0"><a href=""></a></li>
                <li data-uk-slideshow-item="1"><a href=""></a></li>
                <li data-uk-slideshow-item="2"><a href=""></a></li>
                <li data-uk-slideshow-item="3"><a href=""></a></li>


            </ul>
        </div>

        <!-- <section>

            <div data-uk-slider="{center:true}">
                <div class="uk-slider-container">
                    <ul class="uk-slider uk-grid-width-medium-1-4">
                        <li><img src="/static/img/21.jpg"></li>
                        <li><img src="/static/img/11.jpg"></li>
                        <li><img src="/static/img/31.jpg"></li>
                        <li><img src="/static/img/41.jpg"></li>
                    </ul>
                </div>


            </div>


        </section> -->
    </body>
</html>
